{% import "@contact-core/macros/form_type.html.twig" as fields %}

{{ form_start(form, {'class': 'col-12 mx-0 px-0 row'}) }}
{{ form_end(form, {render_rest: false}) }}
<div class="col-12 row mt-2 text-right text-gray-600 px-0 mx-3">
    * champs obligatoires
</div>
